#slider2 ul, #slider2 li{
	margin:0;
	padding:0;
	list-style:none;
	}
#slider2, #slider2 li{ 
	width:226px;
	height:40px;
	background-color:#33F;
	overflow:hidden; 
	}
span#prevBtn{}
span#nextBtn{}	